
.isDisabled {
  cursor: not-allowed !important;
  opacity: 0.5;
}  
.loader-hidden {
  display: none;
}
.loader-active {
  display: block;
}
body{
    font-size: 16px;
    font-family: 'Raleway', sans-serif;  
}
.flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
    position: relative;
  } 
  
    .flip-container:hover .flipper,  
    .flip-container.hover .flipper {
          -webkit-transform: rotateY(180deg);
          -moz-transform: rotateY(180deg);
      -o-transform: rotateY(180deg);
          transform: rotateY(180deg);
      }
//   .flip-container, .front, .back {
//       width: 320px;
//       height: 427px;
//   }
  .flipper {
      -webkit-transition: 1s;
      -webkit-transform-style: preserve-3d;
  
      -moz-transition: 1s;
      -moz-transform-style: preserve-3d;
    
    -o-transition: 1s;
      -o-transform-style: preserve-3d;
  
      transition: 1s;
      transform-style: preserve-3d;

  }
  
  .front, .back {
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
  }
  .back {
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;    
        height: 100%;
  }
  /* Slow-motion Zoom Container */
.img-hover-zoom--slowmo img {
// transform-origin: 50% 65%;
transition: transform 3s, filter 3s ease-in-out;
filter: brightness(100%);
}

/* The Transformation */
.img-hover-zoom--slowmo:hover img {
    filter: brightness(100%);
    transform: scale(1.1);
}

/* Zoom-n-rotate Container */
.img-hover-zoom--zoom-n-rotate img {
transition: transform .5s ease-in-out;
}

/* The Transformation */
.img-hover-zoom--zoom-n-rotate:hover img {
transform: scale(1.1) rotate(25deg);
}

/* Blur-zoom Container */
.img-hover-zoom--blur img {
    transition: transform 1s, filter 2s ease-in-out;
    filter: blur(2px);
    transform: scale(1.2);
  }
  
  /* The Transformation */
  .img-hover-zoom--blur:hover img {
    filter: blur(0);
    transform: scale(1);
  }
  
.Toastify__toast-container--top-right{
  top:4.1rem !important;
}
.Toastify__toast--success {
  background: #1c1f52 !important;
}
