// All Landing page components Styles

@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=latin-ext");

// Main Banner Styles
.mainbanner {
  background-image: url("../../assets/MainBanner/antliamainbg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 620px;
  height: 100vh;
  // position: absolute;
  // top: 0;
  z-index: -1;
  .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
  }

  .banner-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    h1 {
      font-size: 70px;
      font-weight: 700;
      color: #fff !important;
      padding: 5px;
      text-transform: uppercase;
    }
    p {
      font-size: 20px;
      font-weight: 400;
      color: #fff !important;
      padding: 5px;
    }
    .demobtn {
      font-size: 16px;
      font-weight: 600;
      background: #004bff !important;
      color: #fff !important;
      padding: 0.5rem 2rem !important;
      text-decoration: none;
      border-radius: 5px;
      display: block;
      text-transform: uppercase;
      text-align: center;
      border: none !important;
      box-shadow: none !important;
      margin: 30px 0 0;
    }
  }
  .banner-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    img {
      width: 100%;
    }
  }
  @media (max-width: 991px) {
    .row {
      flex-wrap: wrap-reverse;
    }
    .banner-content {
      h1 {
        font-size: 55px;
      }
    }
    .banner-image img {
      max-width: 400px;
      margin: 80px auto 30px;
    }
  }
  @media (max-width: 767px) {
    .banner-content {
      h1 {
        font-size: 45px;
      }
    }
  }
  @media (max-width: 414px) {
    .banner-content {
      h1 {
        font-size: 28px;
      }
    }
    .banner-image img {
      max-width: 100%;
      margin: 0 auto 30px;
    }
  }
}
@media (max-width: 991px) {
  .mainbanner {
    height: 830px;
  }
}

@media (max-width: 375px) {
  .mainbanner {
    height: 700px;
  }
}

// About Section Styles
.aboutbg {
  background: url(../../assets/backwalls/aboutbg.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0;
  height: 100vh;
}
#about {
  .about-desc {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    h2 {
      text-align: left;
      margin: 0 0 30px;
      font-size: 60px;
      font-weight: 600;
      letter-spacing: normal;
      color: #fff;
      text-transform: uppercase;
    }
    p {
      font-size: 18px;
      font-weight: 300;
      letter-spacing: normal;
      text-align: justify;
      color: #fff;
    }
    .linkbtn {
      font-size: 16px;
      font-weight: 600;
      background: #660099 !important;
      color: #fff !important;
      padding: 0.5rem 2rem !important;
      text-decoration: none;
      border-radius: 5px;
      display: block;
      text-transform: uppercase;
      text-align: center;
      border: none !important;
      margin: 50px 0 0;
      box-shadow: none !important;
    }
  }
  @media (max-width: 767px) {
    .about-desc {
      h2 {
        font-size: 40px;
      }
      p {
        font-size: 16px;
      }
    }
  }
}

// Antlia solutions Section Styles
.solutionsbg {
  background: url(../../assets/backwalls/solutionbg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0;
}
#solutions {
  .solutions-desc {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    margin: 0 40px 0 0;
    .system-item {
      display: flex;
      justify-content: space-between;
      margin: 10px 0;
    }
    .icon {
      width: 25%;
      padding: 5px;
      display: flex;
      align-items: center;
      img {
        width: 100%;
      }
    }
    .content {
      width: 75%;
      padding: 15px;
    }
    h2 {
      text-align: left;
      margin: 0 0 30px;
      font-size: 42px;
      font-weight: 700;
      letter-spacing: normal;
      color: #000;
      text-transform: uppercase;
    }
    h4 {
      text-align: left;
      margin: 0 0 15px;
      font-size: 30px;
      font-weight: 700;
      letter-spacing: normal;
      color: #58595b;
      text-transform: uppercase;
    }
    p {
      font-size: 16px;
      font-weight: 400;
      letter-spacing: normal;
      text-align: justify;
      color: #58595b;
    }
  }
  .solutions-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    img {
      width: 100%;
    }
  }
  @media (max-width: 991px) {
    .sol-hide {
      display: none !important;
    }
  }
  @media (max-width: 480px) {
    .solutions-desc {
      margin: 0;
    }
    .system-item {
      flex-wrap: wrap;
      justify-content: flex-start !important;
    }
    .icon {
      width: 100% !important;
      img {
        max-width: 150px;
      }
    }
    .content {
      width: 100% !important;
      padding: 15px 0 !important;
    }
  }
  @media (max-width: 414px) {
    .solutions-desc {
      h2 {
        font-size: 36px;
      }
    }
  }
}
.solutionsbgimg {
  display: none;
}
@media (max-width: 991px) {
  .solutionsbg {
    background: #fff;
    padding: 100px 0 50px;
  }
  .solutionsbgimg {
    background: #180d5b;
    padding: 30px 0 100px;
    display: block;
    img {
      width: 100%;
      margin: 0 auto;
    }
  }
  .sol-hide {
    display: none !important;
  }
}
// News Letter Section Styles
.newsletterbg {
  background: url(../../assets/backwalls/newsletterbg.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0;
}
#newsletter {
  .news-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    .fa {
      font-size: 40px;
      color: #fff;
      margin: 0 auto 30px;
      width: 100%;
      text-align: center;
    }
    h2 {
      margin: 0 0 20px;
      font-size: 30px;
      font-weight: 600;
      letter-spacing: normal;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
    }
    p {
      font-size: 18px;
      font-weight: 300;
      letter-spacing: normal;
      text-align: center;
      color: #fff;
    }
    form {
      width: 100%;
      margin: 20px 30px 0;
    }
    .form-group {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 5px;
      background: #fff;
    }
    .form-control {
      border: none !important;
      padding: 5px 5px 5px 25px;
    }
    .form-control:focus {
      box-shadow: none !important;
    }
 .spanText { 
      font-size: 12px!important;
      padding-top: 5px!important;
      color: red!important;
      font-weight: 500!important;
  }
    .newsbtn {
      font-size: 16px;
      font-weight: 600;
      background: #004bff !important;
      color: #fff !important;
      padding: 0.5rem 1rem !important;
      text-decoration: none;
      border-radius: 5px;
      display: block;
      text-transform: uppercase;
      text-align: center;
      border: none !important;
      margin: 5px;
      box-shadow: none !important;
    }
    @media (max-width: 767px) {
      form {
        margin: 20px 0 0;
      }
    }
    @media (max-width: 480px) {
      .form-group {
        background: transparent;
        flex-wrap: wrap;
      }
      .newsbtn {
        margin: 15px auto 0;
        width: 150pxnfv;
      }
    }
  }
}

// Contact Section Styles
.contactbg {
  background: url(../../assets/backwalls/contactbg.png);
  background: #010280;
  // background-position: center;
  // background-size: cover;
  // background-repeat: no-repeat;
  padding: 70px 0;
}
#contact {
  .form-content {
    width: 100%;
    margin: 60px 0 0;
    // background: #fff;
    border-radius: 10px;
    // box-shadow: 0px 0px 10px 0px #00000024;
  }
  .ctrycode {
    // position: relative;
    display: flex;
    justify-content: flex-start;
    border: 1px solid #ced4da;
    border-radius: 5px;
    align-items: center;
    padding: 0 0 0 15px;
    .form-control:focus {
      color: #495057;
      background-color: #fff;
      border: none;
      outline: 0;
      box-shadow: none;
    }
  }
  .codeplace {
    // position: absolute;
    // left: 15px;
    color: #000;
    // top: 14px;
    min-width: 20px;
    line-height: 1.6;
    max-width: 45px;
    text-align: right;
  }
  .input-setphone {
    padding: 0 4px !important;
    height: 40px !important;
    display: block;
    width: 96%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    border: none !important;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: unset;
  }
  .iconbox {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      max-width: 32px;
      display: block;
      margin: 0 auto;
    }
  }
  .addressdetail {
    .row {
      margin: 0 0 20px;
    }
  }
  .address-box {
    h4 {
      font-size: 18px;
      color: #fff;
      margin: 5px 0 15px;
    }
    p {
      font-size: 14px;
      color: #fff;
      letter-spacing: 0.5px;
      font-weight: 400;
    }
  }
  .fa-info-circle {
    font-size: 24px;
    color: #fff;
    margin: 0.5rem 0 0;
  } 
  .info-box {
    h4 {
      font-size: 18px;
      color: #fff;
      margin: 5px 0 15px;
    }
    p {
      font-size: 14px;
      color: #fff;
      letter-spacing: 0.5px;
      font-weight: 400;
    }
  }
  .contact-form {
    background: #fff;
    border-radius: 5px;
    padding: 0 0 25px;
  }
  .selected--flag--option {
    display: flex;
    justify-content: space-between;
    outline: 0 !important;
    outline-offset: 0 !important;
  }
  .text-muted {
    color: #ff0000 !important;
  }
  .country-flag {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5px;
    width: 50% !important;
    cursor: pointer;
    img {
      width: 20px;
      margin: 0 10px 0 0;
    }
    .country-label {
      width: 100%;
    }
    .arrow-down {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  form {
    width: 100%;
    padding: 30px 30px 0;
    .form-control {
      padding: 15px;
      height: 50px !important;
    }
    .form-group-border {
      border: 1px solid #cacaca;
      padding: 10px;
      border-radius: 5px;
      margin: 0 0 15px;
    }
    .flag-dropdown {
      padding: 0 6px !important;
    }
    .flag-select {
      padding: 0 5px !important;
      position: relative;
      outline: 0 !important;
      outline-offset: 0 !important;
    }
    .flag-select .flag-options {
      position: absolute;
      z-index: 1;
      border: 1px solid #bdbbbb;
      border-radius: 3px;
      background: #fff;
      margin-top: 8px;
      padding: 8px 0;
      max-height: 160px;
      overflow: auto;
      width: 95% !important;
    }
    .flag-dropdown .open-dropdown .selected-flag {
      background: #eaeaea !important;
      padding: 0 !important;
    }
    .react-tel-input .selected-flag {
      z-index: 0 !important ;
    }
    .flag-dropdown:hover .selected-flag,
    .flag-dropdown:focus .selected-flag {
      background: #eaeaea !important;
    }
    .react-tel-input input[type="tel"] {
      padding: 0 0 0 60px !important;
      width: 100%;
    }

    .form-control {
      padding: 10px 15px;
      height: 50px !important;
    }
    textarea {
      width: 100%;
      border-radius: 5px;
      padding: 15px;
      border: 1px solid #ced4da;
      height: 150px;
    }
    // .form-control:last-child {
    //   padding: 15px;
    //   height: auto !important;
    // }
    .submitbtn {
      display: flex;
      justify-content: flex-end;
      margin: 10px 0 0;
      button {
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        background: #010280;
        padding: 7px 15px;
        text-decoration: none;
        border-radius: 5px;
        display: block;
        text-transform: uppercase;
        text-align: center;
        border: 1px solid #010280;
        border-radius: 5px;
      }
    }
    @media (max-width: 767px) {
      .submitbtn {
        justify-content: center;
      }
    }
    @media (max-width: 640px) {
      .flag-option.has-label {
        height: 60px;
      }
    }
  }
  h2 {
    text-align: center;
    margin: 0 auto 30px;
    font-size: 46px;
    font-weight: 600;
    letter-spacing: normal;
    color: #fff;
    text-transform: uppercase;
    span {
      font-weight: 400;
    }
  }

  @media (max-width: 991px) {
    h2 {
      font-size: 36px;
    }
    .addressdetail {
      margin: 0 0 20px;
    }
  }
  @media (max-width: 575px) {
    .form-content {
      padding: 0;
    }
    .contact-form {
      padding: 15px;
    }
    h2 {
      font-size: 30px;
    }
    .iconbox {
      margin: 0 0 20px;
    }
  }
  @media (max-width: 480px) {
    h2 {
      font-size: 24px;
    }
    .ctrycode {
      justify-content: space-between;
    }
    .input-setphone {
      width: 80%;
    }
    form {
      padding: 0 !important;
    }
  }
}

// Map Section Styles
.mapbg {
  background: #f4f4f4;
  padding: 100px 0;
  img {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: block;
  }
}
// Footer Section Styles
#footer {
  padding: 50px 0;  
  .container {
    position: relative;
  }
  .extra-content {
    margin: 0 0 2rem;
    button {
      background: transparent;
      border: none;
      outline: none;
      text-decoration: underline;
    }
  }
  .vert-move {
    -webkit-animation: mover 2s infinite alternate;
    animation: mover 2s infinite alternate;
  }
  @-webkit-keyframes mover {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  @keyframes mover {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  .gotop {
    position: absolute;
    right: 0;
    bottom: -25px;
    a {
      color: #01027f !important;
      font-size: 30px;
    }
  }
  .copyright {
    img {
      width: 100%;
      margin: 0 0 20px;
    }
    p {
      width: 200px;
    }
  }
  .footer-item {
    h6 {
      margin: 0 auto 20px;
      font-size: 24px;
      font-weight: 600;
      letter-spacing: normal;
      color: #000;
      text-transform: uppercase;
    }
    ul {
      padding: 0;
    }
    li {
      display: block;
      padding: 5px 0;
      list-style: none;
    }
    a {
      font-size: 18px;
      font-weight: 400;
      letter-spacing: normal;
      color: #58595b;
      cursor: pointer;
    }
    @media (max-width: 991px) {
      h6 {
        font-size: 20px;
      }
    }
  }
  @media (max-width: 767px) {
    .copyright {
      margin: 0 0 40px;
      text-align: center;
      img{
        margin: 0 auto 20px;
        max-width: 250px; 
      }
      p {
        display: block;
        margin: 0 auto;
        width: 70%;
      }
    }
  }

  @media (max-width: 700px) {
    .gotop {
      position: static;
      text-align: center;
      margin: 20px 0 0;
    }
  }
  @media (max-width: 480px) {
    .copyright {
      p {
        width: 100%;
      }
    }
  }
}

// Coming Soon styles
.comingsoon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  // height: 100%;
  flex-wrap: wrap;
  h1 {
    width: 100%;
    text-align: center;
    margin: 50px auto;
  }
  .comingicon-con {
    width: 100%;
    img {
      width: 100%;
      max-width: 100px;
      margin: 0 auto;
      display: block;
    }
    .vert-move {
      -webkit-animation: mover 2s infinite alternate;
      animation: mover 2s infinite alternate;
    }
    @-webkit-keyframes mover {
      0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(-10px);
      }
    }
    @keyframes mover {
      0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(-10px);
      }
    }
  }
}
#coming {
  h1 {
    font-size: 60px;
    color: #fff;
    text-align: center;
  }
}
.bgcolornav .nav-links a {
  cursor: pointer;
}
