@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=latin-ext");
.mainbanner {
  background-image: url("../../assets/MainBanner/antliamainbg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 620px;
  height: 100vh;
  z-index: -1; }
  .mainbanner .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100%; }
  .mainbanner .banner-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    height: 100%; }
    .mainbanner .banner-content h1 {
      font-size: 70px;
      font-weight: 700;
      color: #fff !important;
      padding: 5px;
      text-transform: uppercase; }
    .mainbanner .banner-content p {
      font-size: 20px;
      font-weight: 400;
      color: #fff !important;
      padding: 5px; }
    .mainbanner .banner-content .demobtn {
      font-size: 16px;
      font-weight: 600;
      background: #004bff !important;
      color: #fff !important;
      padding: 0.5rem 2rem !important;
      text-decoration: none;
      border-radius: 5px;
      display: block;
      text-transform: uppercase;
      text-align: center;
      border: none !important;
      box-shadow: none !important;
      margin: 30px 0 0; }
  .mainbanner .banner-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; }
    .mainbanner .banner-image img {
      width: 100%; }
  @media (max-width: 991px) {
    .mainbanner .row {
      flex-wrap: wrap-reverse; }
    .mainbanner .banner-content h1 {
      font-size: 55px; }
    .mainbanner .banner-image img {
      max-width: 400px;
      margin: 80px auto 30px; } }
  @media (max-width: 767px) {
    .mainbanner .banner-content h1 {
      font-size: 45px; } }
  @media (max-width: 414px) {
    .mainbanner .banner-content h1 {
      font-size: 28px; }
    .mainbanner .banner-image img {
      max-width: 100%;
      margin: 0 auto 30px; } }

@media (max-width: 991px) {
  .mainbanner {
    height: 830px; } }

@media (max-width: 375px) {
  .mainbanner {
    height: 700px; } }

.aboutbg {
  background: url(../../assets/backwalls/aboutbg.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0;
  height: 100vh; }

#about .about-desc {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  height: 100%; }
  #about .about-desc h2 {
    text-align: left;
    margin: 0 0 30px;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: normal;
    color: #fff;
    text-transform: uppercase; }
  #about .about-desc p {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: normal;
    text-align: justify;
    color: #fff; }
  #about .about-desc .linkbtn {
    font-size: 16px;
    font-weight: 600;
    background: #660099 !important;
    color: #fff !important;
    padding: 0.5rem 2rem !important;
    text-decoration: none;
    border-radius: 5px;
    display: block;
    text-transform: uppercase;
    text-align: center;
    border: none !important;
    margin: 50px 0 0;
    box-shadow: none !important; }

@media (max-width: 767px) {
  #about .about-desc h2 {
    font-size: 40px; }
  #about .about-desc p {
    font-size: 16px; } }

.solutionsbg {
  background: url(../../assets/backwalls/solutionbg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0; }

#solutions .solutions-desc {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  margin: 0 40px 0 0; }
  #solutions .solutions-desc .system-item {
    display: flex;
    justify-content: space-between;
    margin: 10px 0; }
  #solutions .solutions-desc .icon {
    width: 25%;
    padding: 5px;
    display: flex;
    align-items: center; }
    #solutions .solutions-desc .icon img {
      width: 100%; }
  #solutions .solutions-desc .content {
    width: 75%;
    padding: 15px; }
  #solutions .solutions-desc h2 {
    text-align: left;
    margin: 0 0 30px;
    font-size: 42px;
    font-weight: 700;
    letter-spacing: normal;
    color: #000;
    text-transform: uppercase; }
  #solutions .solutions-desc h4 {
    text-align: left;
    margin: 0 0 15px;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: normal;
    color: #58595b;
    text-transform: uppercase; }
  #solutions .solutions-desc p {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: normal;
    text-align: justify;
    color: #58595b; }

#solutions .solutions-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; }
  #solutions .solutions-img img {
    width: 100%; }

@media (max-width: 991px) {
  #solutions .sol-hide {
    display: none !important; } }

@media (max-width: 480px) {
  #solutions .solutions-desc {
    margin: 0; }
  #solutions .system-item {
    flex-wrap: wrap;
    justify-content: flex-start !important; }
  #solutions .icon {
    width: 100% !important; }
    #solutions .icon img {
      max-width: 150px; }
  #solutions .content {
    width: 100% !important;
    padding: 15px 0 !important; } }

@media (max-width: 414px) {
  #solutions .solutions-desc h2 {
    font-size: 36px; } }

.solutionsbgimg {
  display: none; }

@media (max-width: 991px) {
  .solutionsbg {
    background: #fff;
    padding: 100px 0 50px; }
  .solutionsbgimg {
    background: #180d5b;
    padding: 30px 0 100px;
    display: block; }
    .solutionsbgimg img {
      width: 100%;
      margin: 0 auto; }
  .sol-hide {
    display: none !important; } }

.newsletterbg {
  background: url(../../assets/backwalls/newsletterbg.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0; }

#newsletter .news-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%; }
  #newsletter .news-desc .fa {
    font-size: 40px;
    color: #fff;
    margin: 0 auto 30px;
    width: 100%;
    text-align: center; }
  #newsletter .news-desc h2 {
    margin: 0 0 20px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: normal;
    color: #fff;
    text-align: center;
    text-transform: uppercase; }
  #newsletter .news-desc p {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: normal;
    text-align: center;
    color: #fff; }
  #newsletter .news-desc form {
    width: 100%;
    margin: 20px 30px 0; }
  #newsletter .news-desc .form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background: #fff; }
  #newsletter .news-desc .form-control {
    border: none !important;
    padding: 5px 5px 5px 25px; }
  #newsletter .news-desc .form-control:focus {
    box-shadow: none !important; }
  #newsletter .news-desc .spanText {
    font-size: 12px !important;
    padding-top: 5px !important;
    color: red !important;
    font-weight: 500 !important; }
  #newsletter .news-desc .newsbtn {
    font-size: 16px;
    font-weight: 600;
    background: #004bff !important;
    color: #fff !important;
    padding: 0.5rem 1rem !important;
    text-decoration: none;
    border-radius: 5px;
    display: block;
    text-transform: uppercase;
    text-align: center;
    border: none !important;
    margin: 5px;
    box-shadow: none !important; }
  @media (max-width: 767px) {
    #newsletter .news-desc form {
      margin: 20px 0 0; } }
  @media (max-width: 480px) {
    #newsletter .news-desc .form-group {
      background: transparent;
      flex-wrap: wrap; }
    #newsletter .news-desc .newsbtn {
      margin: 15px auto 0;
      width: 150pxnfv; } }

.contactbg {
  background: url(../../assets/backwalls/contactbg.png);
  background: #010280;
  padding: 70px 0; }

#contact .form-content {
  width: 100%;
  margin: 60px 0 0;
  border-radius: 10px; }

#contact .ctrycode {
  display: flex;
  justify-content: flex-start;
  border: 1px solid #ced4da;
  border-radius: 5px;
  align-items: center;
  padding: 0 0 0 15px; }
  #contact .ctrycode .form-control:focus {
    color: #495057;
    background-color: #fff;
    border: none;
    outline: 0;
    box-shadow: none; }

#contact .codeplace {
  color: #000;
  min-width: 20px;
  line-height: 1.6;
  max-width: 45px;
  text-align: right; }

#contact .input-setphone {
  padding: 0 4px !important;
  height: 40px !important;
  display: block;
  width: 96%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  border: none !important;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: unset; }

#contact .iconbox {
  display: flex;
  justify-content: center;
  align-items: center; }
  #contact .iconbox img {
    width: 100%;
    max-width: 32px;
    display: block;
    margin: 0 auto; }

#contact .addressdetail .row {
  margin: 0 0 20px; }

#contact .address-box h4 {
  font-size: 18px;
  color: #fff;
  margin: 5px 0 15px; }

#contact .address-box p {
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.5px;
  font-weight: 400; }

#contact .fa-info-circle {
  font-size: 24px;
  color: #fff;
  margin: 0.5rem 0 0; }

#contact .info-box h4 {
  font-size: 18px;
  color: #fff;
  margin: 5px 0 15px; }

#contact .info-box p {
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.5px;
  font-weight: 400; }

#contact .contact-form {
  background: #fff;
  border-radius: 5px;
  padding: 0 0 25px; }

#contact .selected--flag--option {
  display: flex;
  justify-content: space-between;
  outline: 0 !important;
  outline-offset: 0 !important; }

#contact .text-muted {
  color: #ff0000 !important; }

#contact .country-flag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5px;
  width: 50% !important;
  cursor: pointer; }
  #contact .country-flag img {
    width: 20px;
    margin: 0 10px 0 0; }
  #contact .country-flag .country-label {
    width: 100%; }
  #contact .country-flag .arrow-down {
    display: flex;
    justify-content: center;
    align-items: center; }

#contact form {
  width: 100%;
  padding: 30px 30px 0; }
  #contact form .form-control {
    padding: 15px;
    height: 50px !important; }
  #contact form .form-group-border {
    border: 1px solid #cacaca;
    padding: 10px;
    border-radius: 5px;
    margin: 0 0 15px; }
  #contact form .flag-dropdown {
    padding: 0 6px !important; }
  #contact form .flag-select {
    padding: 0 5px !important;
    position: relative;
    outline: 0 !important;
    outline-offset: 0 !important; }
  #contact form .flag-select .flag-options {
    position: absolute;
    z-index: 1;
    border: 1px solid #bdbbbb;
    border-radius: 3px;
    background: #fff;
    margin-top: 8px;
    padding: 8px 0;
    max-height: 160px;
    overflow: auto;
    width: 95% !important; }
  #contact form .flag-dropdown .open-dropdown .selected-flag {
    background: #eaeaea !important;
    padding: 0 !important; }
  #contact form .react-tel-input .selected-flag {
    z-index: 0 !important; }
  #contact form .flag-dropdown:hover .selected-flag,
  #contact form .flag-dropdown:focus .selected-flag {
    background: #eaeaea !important; }
  #contact form .react-tel-input input[type="tel"] {
    padding: 0 0 0 60px !important;
    width: 100%; }
  #contact form .form-control {
    padding: 10px 15px;
    height: 50px !important; }
  #contact form textarea {
    width: 100%;
    border-radius: 5px;
    padding: 15px;
    border: 1px solid #ced4da;
    height: 150px; }
  #contact form .submitbtn {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0 0; }
    #contact form .submitbtn button {
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      background: #010280;
      padding: 7px 15px;
      text-decoration: none;
      border-radius: 5px;
      display: block;
      text-transform: uppercase;
      text-align: center;
      border: 1px solid #010280;
      border-radius: 5px; }
  @media (max-width: 767px) {
    #contact form .submitbtn {
      justify-content: center; } }
  @media (max-width: 640px) {
    #contact form .flag-option.has-label {
      height: 60px; } }

#contact h2 {
  text-align: center;
  margin: 0 auto 30px;
  font-size: 46px;
  font-weight: 600;
  letter-spacing: normal;
  color: #fff;
  text-transform: uppercase; }
  #contact h2 span {
    font-weight: 400; }

@media (max-width: 991px) {
  #contact h2 {
    font-size: 36px; }
  #contact .addressdetail {
    margin: 0 0 20px; } }

@media (max-width: 575px) {
  #contact .form-content {
    padding: 0; }
  #contact .contact-form {
    padding: 15px; }
  #contact h2 {
    font-size: 30px; }
  #contact .iconbox {
    margin: 0 0 20px; } }

@media (max-width: 480px) {
  #contact h2 {
    font-size: 24px; }
  #contact .ctrycode {
    justify-content: space-between; }
  #contact .input-setphone {
    width: 80%; }
  #contact form {
    padding: 0 !important; } }

.mapbg {
  background: #f4f4f4;
  padding: 100px 0; }
  .mapbg img {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: block; }

#footer {
  padding: 50px 0; }
  #footer .container {
    position: relative; }
  #footer .extra-content {
    margin: 0 0 2rem; }
    #footer .extra-content button {
      background: transparent;
      border: none;
      outline: none;
      text-decoration: underline; }
  #footer .vert-move {
    -webkit-animation: mover 2s infinite alternate;
    animation: mover 2s infinite alternate; }

@-webkit-keyframes mover {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-10px); } }

@keyframes mover {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-10px); } }
  #footer .gotop {
    position: absolute;
    right: 0;
    bottom: -25px; }
    #footer .gotop a {
      color: #01027f !important;
      font-size: 30px; }
  #footer .copyright img {
    width: 100%;
    margin: 0 0 20px; }
  #footer .copyright p {
    width: 200px; }
  #footer .footer-item h6 {
    margin: 0 auto 20px;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: normal;
    color: #000;
    text-transform: uppercase; }
  #footer .footer-item ul {
    padding: 0; }
  #footer .footer-item li {
    display: block;
    padding: 5px 0;
    list-style: none; }
  #footer .footer-item a {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: normal;
    color: #58595b;
    cursor: pointer; }
  @media (max-width: 991px) {
    #footer .footer-item h6 {
      font-size: 20px; } }
  @media (max-width: 767px) {
    #footer .copyright {
      margin: 0 0 40px;
      text-align: center; }
      #footer .copyright img {
        margin: 0 auto 20px;
        max-width: 250px; }
      #footer .copyright p {
        display: block;
        margin: 0 auto;
        width: 70%; } }
  @media (max-width: 700px) {
    #footer .gotop {
      position: static;
      text-align: center;
      margin: 20px 0 0; } }
  @media (max-width: 480px) {
    #footer .copyright p {
      width: 100%; } }

.comingsoon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap; }
  .comingsoon h1 {
    width: 100%;
    text-align: center;
    margin: 50px auto; }
  .comingsoon .comingicon-con {
    width: 100%; }
    .comingsoon .comingicon-con img {
      width: 100%;
      max-width: 100px;
      margin: 0 auto;
      display: block; }
    .comingsoon .comingicon-con .vert-move {
      -webkit-animation: mover 2s infinite alternate;
      animation: mover 2s infinite alternate; }

@-webkit-keyframes mover {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-10px); } }

@keyframes mover {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-10px); } }

#coming h1 {
  font-size: 60px;
  color: #fff;
  text-align: center; }

.bgcolornav .nav-links a {
  cursor: pointer; }

.isDisabled {
  cursor: not-allowed !important;
  opacity: 0.5; }

.loader-hidden {
  display: none; }

.loader-active {
  display: block; }

body {
  font-size: 16px;
  font-family: 'Raleway', sans-serif; }

.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
  position: relative; }

.flip-container:hover .flipper,
.flip-container.hover .flipper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg); }

.flipper {
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 1s;
  -moz-transform-style: preserve-3d;
  -o-transition: 1s;
  -o-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d; }

.front, .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }

.back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; }

/* Slow-motion Zoom Container */
.img-hover-zoom--slowmo img {
  transition: transform 3s, filter 3s ease-in-out;
  filter: brightness(100%); }

/* The Transformation */
.img-hover-zoom--slowmo:hover img {
  filter: brightness(100%);
  transform: scale(1.1); }

/* Zoom-n-rotate Container */
.img-hover-zoom--zoom-n-rotate img {
  transition: transform .5s ease-in-out; }

/* The Transformation */
.img-hover-zoom--zoom-n-rotate:hover img {
  transform: scale(1.1) rotate(25deg); }

/* Blur-zoom Container */
.img-hover-zoom--blur img {
  transition: transform 1s, filter 2s ease-in-out;
  filter: blur(2px);
  transform: scale(1.2); }

/* The Transformation */
.img-hover-zoom--blur:hover img {
  filter: blur(0);
  transform: scale(1); }

.Toastify__toast-container--top-right {
  top: 4.1rem !important; }

.Toastify__toast--success {
  background: #1c1f52 !important; }

.nav-links {
  display: flex;
  align-items: center; }
  .nav-links a {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
    font-size: 14px;
    font-weight: 500;
    color: #58595b !important;
    text-decoration: none;
    text-align: center; }
  .nav-links li {
    padding-left: 15px;
    cursor: pointer; }

.nav-link {
  padding: .9rem 1rem !important; }

.dropdown-menu {
  background-color: #fff;
  top: 40px; }

.dropdown-item:focus,
.dropdown-item:hover {
  background: transparent !important; }

.menubar {
  width: 100%;
  position: relative; }

.transparedNav {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1; }

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  box-sizing: border-box;
  padding: 12px 18px;
  transition: background-color 0.4s ease-out; }

.navbar-brand {
  padding: 7px 0; }
  .navbar-brand img {
    width: 100%;
    max-width: 100px; }
  .navbar-brand .logores {
    display: none; }

.dropdown:hover .dropdown-menu {
  display: block; }

#dropdown a {
  display: block; }

#dropdown .dropdown-item {
  padding: .25rem; }

.bgcolornav {
  background-color: #fff;
  box-shadow: 0px 3px 7px #4e004f66; }
  .bgcolornav .navbar-brand img {
    max-width: 100px; }
  .bgcolornav .navbar-brand .logores {
    display: block; }
  .bgcolornav .navbar-brand .logodes {
    display: none; }

#contactbtn a.contactbtn {
  font-size: 14px;
  font-weight: 600;
  background: #004BFF;
  color: #fff !important;
  padding: .5rem 1rem !important;
  text-decoration: none;
  border-radius: 5px;
  display: block;
  text-transform: uppercase;
  text-align: center; }

@media (min-width: 992px) {
  .navbar-expand-md .navbar-nav {
    flex-direction: row !important; } }

@media (min-width: 992px) {
  .navbar-expand-md .navbar-toggler {
    display: none !important; } }

@media (max-width: 991px) {
  .nav-item1 {
    padding: 10px; } }

#navbarToggler {
  display: none; }
